doctype html
html
  head
    title Bungie Platform
    link(rel="stylesheet", type="text/css", href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/css/api.css")

  body
    .container
      block content

      footer.
        This website is not affiliated with, maintained, authorized, endorsed or
        sponsored by Bungie.