doctype html
html

  head
    meta(name="charset", value="utf-8")
    title Sample Layout
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,800', rel='stylesheet', type='text/css')
    link(rel="stylesheet", type="text/css", href="/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/css/style.css")
  
  body
    
    header
      .container
        h2 Bungie.net Platform Documentation
    
    .container.content-container
      
      .row
        section.sidebar.col-xs-3
          section.search
            input(type="text", placeholder="search documentation")
        
          nav.navigation
            //<ul>
              <li>
                <span class="title">bungieNetPlatform.userService</span>
                
                <span class="subtitle">Methods</span>
                
                <ul>
                  <li>GetCurrentUser</li>
                </ul>
              </li>
        
        section.content.col-xs-9
          block content

    footer
      .container
        | This website is not affiliated with, maintained, authorized, endorsed or sponsored by Bungie.