extends layouts/main

block content
  div
    div
      | Select Endpoint you want to call:
      select#options

    hr

    .request-elements
      | Select an endpoint first

    hr
    button#send-request Send Request

    hr

    div
      | Response
      #response

  script(src="/js/jquery-2.1.1.min.js")
  script(src="/js/explorer.js")